<div class="exchanger-container" *ngIf="!error && !loading">
  <h2>Currencies for today</h2>
  <app-exchange-header
    class="exchanger-header"
    [currencies]="currencies"
  ></app-exchange-header>
  <h2>Currency converter</h2>
  <app-exchange-body
    class="exchanger-body"
    [currencies]="currencies"
  ></app-exchange-body>
</div>

<div class="error-container" *ngIf="error && !loading">
  <h2>Some error has occured. Details in dev tools console</h2>
</div>

<div class="loading-container" *ngIf="loading">
  <h2>Loading...</h2>
</div>
